doctype html5
html(lang='en')
  head
    block head
      //-
      //-   Basic Page Needs
      //-   ==================================================
      title= config.organizationName

      meta(charset='utf-8')
      meta(name='description', content=config.socialshare.siteDescription)

      //-
      //-   Mobile Specific Metas
      //-   ==================================================
      meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')

      //-
      //-   CSS
      //-   ==================================================

      include includes/styles

      //- HTML5 shim, for IE6-8 support of HTML5 elements
      script(src="https://cdn.polyfill.io/v1/polyfill.min.js")

      link(rel="icon", type="image/x-icon", href=config.favicon)

      script.
        var csrfToken = '#{csrfToken}';
            
      script.
        (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
        })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

        ga('create', 'UA-73563720-1', 'auto');
        ga('send', 'pageview');

      include includes/remove-hash

  body
    block body
      #snap-content.snap-content
        //- Start of `Page Content`
        - var color = config.headerBackgroundColor;
        - var headerClassName = config.headerContrast ? 'with-contrast' : '';
        header.app-header(style=color ? 'background-color: #{color};' : '', class=headerClassName)
        section#content.site-content
          block content
        section#browser.site-content
          section.app-content

      .snap-drawers
        aside.nav-proposal

      section#content-modal    

      div#huge-overlay(style='background:url(https://daks2k3a4ib2z.cloudfront.net/54b5dacca1dc10190edce926/54c38ee62d5eaa62178ffc67_header-bg.jpg)' , class='huge-overlay huge-overlay-simplegenie')
        div(class='body')
          p=config.text
          a(href="/" , class="btn btn-primary btn-lg") Aceptar
          br
          a(href="/como-funciona", class="btn btn-danger btn-lg") ¿Cómo funciona?
      //- End of `Page Content`
      //- ======================
      //- Start of `Javascripts`

      //- Core 3rd parties libs
      script(src='//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')      
      include includes/placeholders
      //- General Site javascript
      script.
        window.config=!{JSON.stringify(client)};
        window.config.locale='#{locale}';
        window.translations=!{JSON.stringify(translations)};
      - if (config.segmentKey)
        include includes/segment
      script(src='/app.js')
      script(src='http://getbootstrap.com/dist/js/bootstrap.min.js')      
      //- End of `Javascripts`   
           

  include includes/fonts