- var tabindex = 1

#usertype-wrapper
  .usertype-admin
    .heading
      .circle
        i.icon-user
      h1= t(form.title)
    form.form-nuevo(action=form.action, method="post", role="form",enctype="multipart/form-data", autocomplete="off", autovalidate='autovalidate', autosubmit-image='autosubmit-image', identifier='usertype-wrapper')
      ul.form-messages
      .form-group
        label= t('admin-userstypes-form.label.name')
        input.form-control(type='text', id="name", name='name', tabindex=tabindex++, placeholder=t('admin-userstypes-form.placeholder.name'), value=usertype.name, validate='required')
      .form-group
        label= t('admin-userstypes-form.label.image')
        - if(usertype.id)
          .image-container
            input.form-control(type='file', id="displayImage", name='displayImage', tabindex=tabindex++, placeholder=t('admin-userstypes-form.placeholder.file'))
            img(src='/uploads/usertype/' + usertype.id, width="65")
        - else
          .image-container
            input.form-control(type='file', id="displayImage", name='displayImage', tabindex=tabindex++, placeholder=t('admin-userstypes-form.placeholder.file'), validate='required')
      .form-group: button.btn.btn-success.btn-block.btn-lg(tabindex=tabindex++)=t('admin-userstypes-form.button.submit')
