#landing
  .container-fluid
    .row
      .col-sm-12.col-md-8.col-md-offset-2.filter
        .row.well.well-lg
          .col-md-12.col-xs-12.text-center
            .row.higher
              .input-group.input-group-md(data-filter)
                span.input-group-addon
                  i.glyphicon.glyphicon-search
                input.form-control.search(type='text', placeholder='#{t("landing.search.placeholder")}', autofocus)
          .row
            .col-md-4.form-group(data-filter-tag)
              select(name='tag' style='background: transparent url("data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=") no-repeat scroll 95% 42%; background-color: #337ab7; ')
                option(value="-1")="Tags: Todos"
                 - each tag in tags
                   option(value=tag.id)= tag.name
            .col-md-4.form-group(data-filter-project)
              select(name='project' style='background: transparent url("data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=") no-repeat scroll 95% 42%; background-color: #337ab7; ')
                option(value="-1")="Proyectos: Todos"
                - each projecttype in projects
                  option(value=projecttype.id)= projecttype.name
            .col-md-4.form-group(data-filter-user)
              select(name='user' style='background: transparent url("data:image/gif;base64,R0lGODlhCwALAJEAAAAAAP///xUVFf///yH5BAEAAAMALAAAAAALAAsAAAIPnI+py+0/hJzz0IruwjsVADs=") no-repeat scroll 95% 42%; background-color: #337ab7; ')
                option(value="-1")="Usuarios: Todos"
                - each userlist in users
                  option(value=userlist.id)= userlist.fullName
    .row
      .col-md-12.card
        .row.hide.text-center#nomatch
          span=t('landing.filter.nomatch')
        .row.list(data-topics)
          //Aca se hace el for
        .forum-pagination(data-pagination)
          button.btn.btn-block.msg-more(type="button")
            = t('newsfeed.button.load-more')
          p.msg-empty= t('newsfeed.nothing-to-show')
          .loader
